@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media screen and (max-width: 1440px) {
  :root {
    font-size: 80%;
  }
}
@media screen and (max-width: 1280px) {
  :root {
    font-size: 70%;
  }
}
@media screen and (max-width: 1024px) {
  :root {
    font-size: 60%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 50%;
  }
}
